canvas{
	background-color: tan;
	width: 80%;
	height: auto%;
}

.side{
	background-color: red;
	padding: 20px;
}

.container{
	background-color: red;
	width: 90%;
}

.center{
	text-align: center;
}

.dial{
	margin: center;
	text-align: center;
	height: auto;
	width: 70%;
}